!!! 5
%html
	%head
		%title You're such a Potty Mouth!
		%link{:type=>"text/css", :rel=>"stylesheet", :href=>"/css/default.css"}
	%body
		#content
			%h1 Potty Mouth
			%h3 Phase One: Year of the Bastard
			:markdown
				So there's this guy, [Max](http://twitter.com/mxcl) (he's a splendid chap, by the way) who nonchalantly [asked twitter](http://twitter.com/mxcl/status/16838493726) to make him a tool for measuring the profanity of code-bases.

				This is phase one. It probably won't work most of the time. But it sometimes it does, and then it tells you who the naughtiest developer is, and the most dastardly codebase.
				
				Want to have your repo monitored? [Find out how](/howto).
			%img{:src => '/graphs/overview.png'}
			%h2 Recently altered
			%ul
				- Swear.find(:all,:order => "updated_at DESC",:limit => 500).collect{|r| "#{r.user}||#{r.repo}" }.uniq.each do |recent|
				- recent = recent.split("||")
				- recent = {:user => recent[0],:repo => recent[1]}
					%li
						%a{:href=>"/details/#{recent[:user]}"}=recent[:user]
						-
						%a{:href=>"/details/#{recent[:user]}/#{recent[:repo]}"}=recent[:repo]
			%h2 Do you foo?
			:markdown
				Are you looking at this miserable HTML and thinking "I have the way of code, I could make this look fucking awesome!" — you should! Just fork [the github repo](http://github.com/jphastings/PottyMouth) and make whatever changes you think are suitably foul mouthed, then send a pull request and I'll test & update.
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-17129593-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();